html, body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.wrap {
	margin: 0 auto;
}

header{
	background: url(http://media.giphy.com/media/S3bkh4BuHMyfC/giphy.gif);
	padding: 1%;
	border-bottom: 3px solid #C9469A;
}

.main {
	width: 100%;
	margin: 0 auto;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    align-self: stretch;
}

.content {
	background: #fff;
	padding: 1%;
	order: 0;
    flex: 4 1 auto;
    align-self: auto;
}

.side {
	background: #FF91BA;
	padding: 1%;
	order: 0;
    flex: 2 1 auto;
    align-self: stretch;
    border-left: 12px solid #7F587C;

    color: #7F587C;
}

.side a {
    color: #7F587C;
    font-weight: bold;
    text-decoration: none;
}

.side li {
	margin: 3%;
}

section{
	margin: 3%;
}

footer {
	width: 98%;
	background: #202020;
	padding: 1%;
	border-top: 3px solid #28b1b6;
	color: #939393;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

h1, h2, h3{
	margin: 0;
}

h1 {
	color: #fff;
}

h2 {
	color: #fff;
	font-style: italic;
}

h3 {
	color: #3c3c3c;
	width: 50%;
	border-bottom: 2px dashed #C9469A;
	margin-bottom: 1%;
}